body {
    background-image: url(assets/background-body.jpg);
    background-size: cover; /* Memastikan gambar menutupi seluruh elemen */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    background-attachment: fixed; /* Menjaga gambar tetap pada posisinya saat scroll */
    background-color: #030325;
   
}
/* CSS */
.row1 {
    margin-left: 0; /* Gaya default */
  }
  .margin{
    margin:auto;
  }
#myText{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}
  @media (min-width: 576px) {
    .row1 {
      margin-left: 250px;
    }
  }
  