body {
    background-image: url(assets/background-body.jpg);
    background-size: cover; /* Memastikan gambar menutupi seluruh elemen */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    background-attachment: fixed; /* Menjaga gambar tetap pada posisinya saat scroll */
    background-color: #030325;
   }
   